<app-header-text [text]="text" [items]="items"></app-header-text>

<div class="log-body">

<!--  <div class="log-filtro">-->
<!--    <ng-template ngIf="{{log.process}}">Processo: {{log.process}}</ng-template>-->
<!--    <ng-template ngIf="{{log.status}}">Status: {{log.status}}</ng-template>-->
<!--    <ng-template ngIf="{{log.userLogin}}">Usuário: {{log.userLogin}}</ng-template>-->
<!--  </div>-->

  <p-table [value]="logDetails" styleClass="p-datatable-striped">
    <ng-template pTemplate="header">
      <tr>
        <th>Descrição</th>
        <th>Informações Adicionais</th>
        <th>Data do Ocorrido</th>
        <th>Status</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-detail>
      <tr>
        <td>{{detail.description}}</td>
        <td>{{detail.information}}</td>
        <td>{{detail.dateOccured}}</td>
        <td>{{detail.status}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
