<app-header-text [text]="text" [items]="items"></app-header-text>
<div class="content-container">
  <form [formGroup]="formUser" (ngSubmit)="onSubmit()">
    <div class="form-group profile">
      <label>Perfil:</label>
      <p-dropdown required formControlName="profile" [options]="profiles" placeholder="Selecione um Perfil" optionLabel="name" [showClear]="true"></p-dropdown>
    </div>

    <div class="form-group login">
      <label>Login:</label>
      <input formControlName="login" type="text" pInputText required minlength="4" />
    </div>

    <div class="form-group email">
      <label>E-mail:</label>
      <input required formControlName="email" type="email" pInputText />
    </div>

    <div class="form-group status">
      <label>Status:</label>
      <p-dropdown required formControlName="status" [options]="status" placeholder="Selecione um Status" optionLabel="name" [showClear]="true"></p-dropdown>
    </div>

    <div class="form-group company">
      <label>Empresa:</label>
      <p-dropdown required formControlName="company" [options]="company" placeholder="Selecione uma Empresa" optionLabel="name" [showClear]="true"></p-dropdown>
    </div>

    <div class="form-group ad">
      <label>Autenticação via Ad:</label>
      <p-inputSwitch class="test" formControlName="ad" [(ngModel)]="isAd"></p-inputSwitch>
    </div>

    <p-toast position="top-right"></p-toast>
    <button (click)="showWaitMessage()" type="submit"><i class="fas fa-save"></i> Salvar</button>
  </form>

  <ng-template [ngIf]="showProgessBar" >
    <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
  </ng-template>
</div>
