<div class="header-text">
  <div *ngIf="router.url == '/portal/users'" class="arrow-left">
    <i routerLink="/portal/users/new" class="fas fa-user-plus"></i>
  </div>

  <div *ngIf="router.url == '/portal/users/new'" class="arrow-left">
    <i routerLink="/portal/users" class="fas fa-arrow-left"></i>
  </div>

  <div *ngIf="router.url == '/portal/logs/details'" class="arrow-left" (click)="router.navigateByUrl('/portal/logs')">
    <i class="fas fa-arrow-left"></i>
  </div>
  <h1>{{getText()}}</h1>
  <p-breadcrumb class="route-link" [model]="getItems()"></p-breadcrumb>
</div>
