/* Formatações pertinentes as classes do PrimeNG */

p-calendar {
  .ui-calendar {
    width: 100%;
  }
}

.ui-inputtext {
  width: 100% !important;
  height: 35px !important;
  padding-left: 10px !important;
  border: 1px solid rgba(122,130,133, 0.5) !important;
  background-color: rgba(220, 220, 230, 0.1) !important;
  border-radius: 5px !important;
  transition: border 0.5s !important;
  &:hover {
    border: 1px solid rgba(0,127,255, 1) !important;
  }
}

.ui-table-wrapper {
  .ui-table-tbody {
    text-align: center;
  }
  @media (max-width: 760px){
    text-align: start !important;
    font-size: 10px;
  }
}

.ui-breadcrumb {
  background: none !important;
  border: none !important;
  padding: 0 !important;
  > ul {
    font-size: 5px !important;
  }
  .ui-menuitem-text, .ui-breadcrumb-chevron  {
    color: white !important;
    vertical-align: baseline !important;
    margin: 0 !important;
    font-size: 10px;
    transition: 0.3s;
  }

  .ui-menuitem-text:hover {
    font-weight: bolder;
    text-shadow: 0 1px black;
  }
}

p-dropdown {
  .ui-dropdown {
    width: 100%;
    border: none !important;
    .ui-dropdown-trigger {
      background-color: rgba(220, 220, 230, 0.1) !important;
    }
  }
}
